<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <h1><%= htmlWebpackPlugin.options.title %></h1>

    <h2> First Quiz</h2>

    <div class="quizzy">
        > multiple-choice
        ### What's the capital of Germany?
        - [x] Berlin
        - [ ] Frankfurt
        - [ ] Paris
        - [ ] Cologne

        ---

        > multiple-choice
        ### The sky is 
        - [x] ...blue
        - [ ] ...red
        - [ ] ...green
        - [x] ...grey  
        
        ---

        > sequence
        ### Please bring the following into order!
        1. 1
        2. 2
        3. 3
        4. 4
        5. 5
  </div>  
  
  <h2> Second Quiz</h2>

  <div class="quizzy">
      > multiple-choice
      ### What's the capital of Germany?
      - [x] Berlin
      - [ ] Hamburg
      - [ ] Chicago
      - [ ] Amsterdam
</div>  
    

  </body>
</html>
